<div class="container">
    <h3>Manage your to-do lists in 1 place, free forever </h3>
    <div class="box-wrapper">
        <h1>Sign In</h1>
        <div class="button-input-wrapper">
            <input id="username" type="email" placeholder="Email" required [(ngModel)]="email" #username="ngModel"
                   pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" (change)="onChange()"/>
            <p class="required" *ngIf="username.errors?.pattern || isInvalidPattern">
                Email is invalid!
            </p>
        </div>
        <div class="button-input-wrapper">
            <input id="pass" type="password" placeholder="Password" [(ngModel)]="password" #pass="ngModel"
                   (change)="onChange()"/>
        </div>
        <div class="button-input-wrapper"
             *ngIf="username.invalid && (username.dirty || username.touched) || isRequired">
            <p class="required"
               *ngIf="(username.errors?.required) || (pass.errors?.required) || isRequired">
                Email and Password is required!
            </p>
        </div>
        <div class="button-input-wrapper">
            <p class="required" *ngIf="isNoEmail">
                Email not found!
            </p>
        </div>
        <div class="button-input-wrapper">
            <button (click)="handleLogin()">Sign in</button>
        </div>
        <div class="button-input-wrapper">
            <a class="link" [routerLink]="['/register']">Not a member? Sign up</a>
            <a class="link" [routerLink]="['/forgot']">I can’t remember my password</a>
        </div>
    </div>
</div>
