.container {
    position: relative;
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
}

h3 {
    text-align: center;
    position: relative;
    float: left;
    font-size: 16px;
    width: 100%;
}

.box-wrapper {
    width: 100%;
    position: relative;
    float: left;
    background: #F6F7FB;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
}

.button-input-wrapper {
    position: relative;
    width: 100%;
    float: left;
    padding: 10px 50px;
    box-sizing: border-box;
}

input {
    width: 100%;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #DADADA;
    border-radius: 8px;
}

button {
    width: 100%;
    position: relative;
    background: #98D7CE;
    border-radius: 8px;
    height: 40px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.link {
    position: relative;
    width: 50%;
    float: left;
    color: #4F66AF;
    line-height: 25px;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.link:last-child {
    text-align: right;
}

p {
    position: relative;
    float: left;
    width: 100%;
    line-height: 25px;
}

.required {
    position: relative;
    width: 100%;
    float: left;
    color: #F79CAF;
}
