<div class="container">
    <h3>Manage your to-do lists in 1 place, free forever </h3>
    <div class="box-wrapper">
        <h1>Reset Password</h1>
        <div class="button-input-wrapper">
            <p>Enter your email to reset your password. You will receive an email with instructions on how to reset your
                password.</p>
            <input id="username" type="email" placeholder="Email" required [(ngModel)]="email" #username="ngModel"
                   pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" (change)="onChange()"/>
        </div>
        <div class="button-input-wrapper"
             *ngIf="username.invalid && (username.dirty || username.touched) || isRequired">
            <p class="required" *ngIf="username.errors?.pattern || isInvalidPattern">
                Email is invalid!
            </p>
            <p class="required"
               *ngIf="(username.errors?.required) || isRequired">
                Email is required!
            </p>
        </div>
        <div class="button-input-wrapper">
            <p class="required" *ngIf="isNotFound">
                Email not found!
            </p>
        </div>
        <div class="button-input-wrapper">
            <button (click)="handleForgot()">Reset Password</button>
        </div>
        <div class="button-input-wrapper">
            <a class="link" [routerLink]="['/login']">Sign in</a>
            <a class="link" [routerLink]="['/register']">Not a member? Sign up</a>
        </div>
    </div>
</div>
