<div class="container">
    <h3>Manage your to-do lists in 1 place, free forever </h3>
    <div class="box-wrapper">
        <h1>Create New Password</h1>
        <div class="button-input-wrapper">
            <input id="pass1" type="password" placeholder="Password" required [(ngModel)]="password" #pass1="ngModel"
                   (change)="onChange()"/>
        </div>
        <div class="button-input-wrapper">
            <input id="pass2" type="password" placeholder="Password" [(ngModel)]="confirmPassword" #pass2="ngModel"
                   (change)="onChange()"/>
        </div>
        <div class="button-input-wrapper"
             *ngIf="pass1.invalid && (pass1.dirty || pass1.touched) || isRequired ||isMissMatch">
            <p class="required"
               *ngIf="(pass1.errors?.required) || (pass2.errors?.required) || isRequired">
                All is required!
            </p>
            <p class="required" *ngIf="(isMissMatch)">
                Password doesn't match!
            </p>
        </div>
        <div class="button-input-wrapper">
            <button (click)="handleConfirm()">Confirm Reset Password</button>
        </div>
        <div class="button-input-wrapper">
            <a class="link" [routerLink]="['/login']">Sign in</a>
            <a class="link" [routerLink]="['/register']">Not a member? Sign up</a>
        </div>
    </div>
</div>
