<div class="container">
    <h3>Manage your to-do lists in 1 place, free forever </h3>
    <div class="box-wrapper">
        <h1>Your password has been reset.</h1>
        <div class="button-input-wrapper">
            <p>Welcome back!</p>
        </div>
        <div class="button-input-wrapper">
            <button [routerLink]="['/login']">Go to Sign-In</button>
        </div>
    </div>
</div>
