.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto
}

.modal-body {
    position: relative;
    padding: 20px;
    float: left;
    width: 760px;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    background: #fff;
    border-radius: 20px;
}

.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;
    z-index: 900;
}

body.modal-open {
    overflow: hidden;
}
