.container {
    position: relative;
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
}

.nav {
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    box-shadow: 0px 4px 10px #ECEFF2;
    padding: 0 20px;
    box-sizing: border-box;
    background: #fff;
}

h3 {
    display: flex;
    float: right;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 16px;
    border-right: 1px solid #DADADA;
}

.logout {
    display: flex;
    float: right;
    padding: 0 10px;
    font-size: 16px;
    box-sizing: border-box;
    color: #F79CAF;
    cursor: pointer;
}

.logout:hover {
    text-decoration: underline;
}

.todo-container {
    position: relative;
    width: 100%;
    float: right;
    padding: 80px 20px 20px 20px;
    box-sizing: border-box;
}

.header {
    position: relative;
    float: left;
    width: 100%;
}

h2 {
    color: #98D7CE;
}

.btn-add-wrapper {
    position: absolute;
    top: 20px;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    background: #F79CAF;
    color: #fff;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.todo-list-container {
    position: relative;
    float: left;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

label {
    cursor: pointer;
    float: left;
    position: relative;
    width: 500px;
}

.list {
    width: 100%;
    position: relative;
    padding: 20px 20px 20px 40px;
    box-sizing: border-box;
    float: left;
    background: #ECEFF2;
    margin: 5px 0;
    border-radius: 20px;
}

.list.completed {
    background: rgba(146, 222, 219, 0.298077);
}

input {
    display: none;
}

.radio-div {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: -30px;
    display: inline-block;
}

.radio-div::before {
    height: 60%;
    width: 60%;
    border-radius: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    right: 0;
    bottom: 0;
    content: '';
}

input:checked + .radio-div {
    background: #98D7CE;
}

input:checked ~ h2 {
    font-weight: bold;
    color: #98D7CE;
}

input:checked + .radio-div::before {
    content: '';
    position: absolute;
    left: -8px;
    top: 0;
    background: #fff;
    width: 4px;
    height: 4px;
    box-shadow: 2px 0 0 #fff,
    4px 0 0 #fff,
    4px -2px 0 #fff,
    4px -4px 0 #fff,
    4px -6px 0 #fff,
    4px -8px 0 #fff;
    transform: rotate(45deg)
}

.text {
    width: 100%;
    position: relative;
    float: left;
    display: inline-block;
}

a {
    display: inline-block;
    padding: 0 5px;
    float: right;
    cursor: pointer;
    position: relative;
    color: #4F66AF;
}

a:hover {
    text-decoration: underline;
}

.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
}

.dark-modal .close {
    color: white;
}

.light-blue-backdrop {
    background-color: #5cb3fd;
}

h4 {
    position: relative;
    width: 100%;
    text-align: center;
}

.content-wrapper {
    position: relative;
    width: 100%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

.modal-input {
    display: initial;
    width: 100%;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #DADADA;
    border-radius: 8px;
    float: left;
}

.modal-button {
    width: 100%;
    position: relative;
    background: #98D7CE;
    border-radius: 8px;
    height: 40px;
    border: none;
    color: #fff;
    cursor: pointer;
    float: left;
    margin-top: 20px;
}

h1 {
    position: relative;
    float: left;
    width: 100%;
}

.required {
    position: relative;
    width: 100%;
    float: left;
    color: #F79CAF;
}
