<div class="container">
    <div class="nav">
        <p class="logout" (click)="handleLogout()">Log Out</p>
        <h3>Hello, {{ user.fullname }}</h3>
    </div>
    <div class="todo-container">
        <div class="header">
            <h1>Today’s schedule</h1>
            <h2>{{today}}</h2>
            <div class="btn-add-wrapper" (click)="onClickAddTodo()">
                +
            </div>
        </div>
    </div>
    <section class="todo-list-container" *ngIf="todos && todos.length > 0">
        <div class="list" *ngFor="let todo of todos" [class.completed]="todo.isFinished">
            <label>
                <input type="checkbox" [checked]="todo.isFinished"
                       (click)="onFinishTodo(todo.id, !todo.isFinished )"/>
                <div class="radio-div"></div>
                <div class="filter text">{{todo.todo}}</div>
            </label>
            <a (click)="onClickDeleteTodo(todo.id)">Delete</a>
            <a (click)="onClickEditTodo(todo.id)">Edit</a>
        </div>
    </section>
    <section class="todo-list-container" *ngIf="!todos">
        <h4>No todo list.</h4>
    </section>
    <app-modal id="add-modal">
        <div class="content-wrapper">
            <h1>Add Tasks</h1>
            <input id="todo" class="modal-input" type="text" required [(ngModel)]="task" #todo="ngModel">
            <div *ngIf="todo.invalid && (todo.dirty || todo.touched) || isRequired">
                <p class="required" *ngIf="(todo.errors?.required) || isRequired">
                    Task is required!
                </p>
            </div>
            <button class="modal-button" (click)="addNewTask()">Save</button>
        </div>
    </app-modal>
    <app-modal id="edit-modal">
        <div class="content-wrapper">
            <h1>Add Tasks</h1>
            <input id="todoEdit" class="modal-input" type="text" required [(ngModel)]="task" #todoEdit="ngModel">
            <div *ngIf="todoEdit.invalid && (todoEdit.dirty || todoEdit.touched) || isRequired">
                <p class="required" *ngIf="(todoEdit.errors?.required) || isRequired">
                    Task is required!
                </p>
            </div>
            <button class="modal-button" (click)="editTask()">Save</button>
        </div>
    </app-modal>
</div>
