<div class="container">
    <h3>Manage your to-do lists in 1 place, free forever </h3>
    <div class="box-wrapper">
        <h1>Success Registered</h1>
        <div class="button-input-wrapper">
            <p>Welcome, {{ user.fullname }}</p>
        </div>
        <div class="button-input-wrapper">
            <button [routerLink]="['/todo']">Got It</button>
        </div>
    </div>
</div>
