<div class="container">
    <h3>Manage your to-do lists in 1 place, free forever </h3>
    <div class="box-wrapper">
        <h1>Sign Up</h1>
        <div class="button-input-wrapper">
            <input id="name" type="text" placeholder="Full Name" [(ngModel)]="fullname" #name="ngModel"
                   (change)="onChange()"/>
        </div>
        <div class="button-input-wrapper">
            <input id="username" type="email" placeholder="Email" required [(ngModel)]="email" #username="ngModel"
                   pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" (change)="onChange()"/>
            <p class="required" *ngIf="username.errors?.pattern || isInvalidPattern">
                Email is invalid!
            </p>
        </div>
        <div class="button-input-wrapper">
            <input id="pass" type="password" placeholder="Password" [(ngModel)]="password" #pass="ngModel"
                   (change)="onChange()"/>
        </div>
        <div class="button-input-wrapper" *ngIf="name.invalid && (name.dirty || name.touched) || isRequired">
            <p class="required"
               *ngIf="(username.errors?.required) || (pass.errors?.required) || (name.errors?.required) || isRequired">
                All fields is required!
            </p>
        </div>
        <div class="button-input-wrapper">
            <p class="required" *ngIf="isDuplicate">
                This email already exists!
            </p>
        </div>
        <div class="button-input-wrapper">
            <button (click)="handleRegister()">Sign up</button>
        </div>
        <div class="button-input-wrapper">
            <a class="link" [routerLink]="['/login']">Already registered? Sign in</a>
        </div>
    </div>
</div>
