<div class="container">
    <h3>Manage your to-do lists in 1 place, free forever </h3>
    <div class="box-wrapper">
        <h1>Reset password link has been sent.</h1>
        <div class="button-input-wrapper">
            <p>Please check your email.</p>
        </div>
        <div class="button-input-wrapper">
            <button [routerLink]="['/login']">Got It</button>
        </div>
    </div>
</div>
